/* Universal Styles */
body{
    margin:0;
    background-color: #b6ebef;
}
@font-face{
    font-family: 'Hanalei Fill';
    font-weight: 400;
    src: local( 'Hanalei Fill'),url(https://fonts.googleapis.com/css?family=Hanalei+Fill) rel="stylesheet";
}

.bannerimg {
    width:100%;
    height:200px;
}
.bottomimg{
    width: 100%;
    height:800px;
}
.banner{
    font-family: cursive,Arial, Helvetica, sans-serif;
    font-style: bold;
    font-size: 50px;
    color: #3e7f53;
    display:block;
    background-color: #b6ebef;
    text-align: center;
}

.topnav{
    position: relative;
    overflow: hidden;
    box-align:Center;
    text-align: center;
    line-height: 28px;
    margin:auto;
    font-family:  'Hanalei Fill', cursive;
    color: #2d2a1d;
    text-transform: uppercase;
    font-size:40px;
    
}

.topnav a{
    display: inline-block;
    padding:25px;
    border:5px solid;
    background-color:#938248;  
    
  
}

.Description{
    Algin:left;
    padding:60px;
}
.Description h2{
    font-family: cursive,Arial, Helvetica, sans-serif;
    font-style: bold;
    font-size: 50px;
    color: #3e7f53;  
    text-align: center;
}

.Description p{
    font-family: cursive,Arial, Helvetica, sans-serif;
    text-align: center;
}