/* Universal Styles */
body{
    margin:0;
    background-image:url("background.jpg");
}
@font-face{
    font-family: 'Hanalei Fill';
    font-weight: 400;
    src: local( 'Hanalei Fill'),url(https://fonts.googleapis.com/css?family=Hanalei+Fill) rel="stylesheet";
}

.bannerimg {
    width:100%;
    height:200px;
}
.bottomimg{
    width: 100%;
    height:800px;
}
.banner{
    font-family: ,Arial, Helvetica, sans-serif;
    font-style: bold;
    font-size: 75px;
    color: #3e7f53;
    display:block;
    border-bottom: 10px solid #4d4523;
    text-shadow:
    -1px -1px 0 #4d4523,
    1px -1px 0 #4d4523,
    -1px 1px 0 #4d4523,
    1px 1px 0 #4d4523;
    text-align: center;
    padding: 0px,0px,10px,0px;
}

.topnav{
    position: relative;
    overflow: hidden;
    box-align:Center;
    text-align: center;
    line-height: 28px;
    margin:auto;
    font-family:  'Hanalei Fill', cursive;
    color: #1b1809;
    text-transform: uppercase;
    font-size:40px;
    padding:10px,0px,0px,0px;
    
}

.topnav a{
    display: inline-block;
    padding:25px;
    border:5px solid;
    background-color:#938248;  
    
  
}

.Description{
    Algin:left;
    padding:60px;
}
.Description h2{
    font-family: cursive,Arial, Helvetica, sans-serif;
    font-style: bold;
    font-size: 50px;
    color: #3e7f53;  
    text-align: center;
    text-shadow:
    -1px -1px 0 #4d4523,
    1px -1px 0 #4d4523,
    -1px 1px 0 #4d4523,
    1px 1px 0 #4d4523;
}

.Description p{
    font-family: cursive,Arial, Helvetica, sans-serif;
    text-align: center;
    font-size:30px
}